.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 100px;
  height: 100px;
}

.nav-items > ul{
  list-style: none;
  display: flex;
}

.nav-items > ul > li{
  padding: 10px;
  font-weight: 600;
}

.body-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search{
  padding: 5px;
}

.card-container{
  display: flex;
  flex-wrap:wrap;
  align-items: center;

}

.card-component{
  width: 180px;
  height: 360px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
}

.card-container :hover{
  border: 1px solid black;
}

.foodimg{
width: 100%;
height: 45%;
}

.card-component >h3,h4{
margin: 6px;
width: 99%;
overflow-wrap: break-word; /* Ensures long words break and wrap */
word-wrap: break-word; /* Fallback for older browsers */
text-overflow: ellipsis; /* Adds ellipsis for text overflow */
}

.filter-btn{
  cursor: pointer;;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 180px;
  height: 340px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
}

.login{
  padding: 10px;
  margin: 2px;
}

.top-body{
  display: flex;
  flex-direction: row;
}

.btns{
  display: flex;
  padding: 5px;
  margin-right: 5px;
  gap: 10px; /* Add space between buttons */
}

.error-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-cont>h4{
  margin-left: 88em;
}